RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DIGEST_TO=matheuscaruso2002@gmail.com
DIGEST_FROM=Utilities Digest <onboarding@resend.dev>
LOOKBACK_HOURS=30
MAX_PER_SOURCE=15
DEDUPE_THRESHOLD=0.85
